@model IEnumerable<string>

@{
    ViewData["Title"] = "ListRecipe";
}
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List of all recipe</title>
</head>
<body>
    <ul>
        @foreach(string s in Model)
        {
            <li>@s</li>
        }
    </ul>
</body>
</html>