@{
    ViewData["Title"] = "Stock";
}
@section Styles {
    <link href="@Url.Content("~/css/stock.css")" rel="stylesheet" type="text/css" />
}
@section Scripts{
    <script src="~/js/stock.js" asp-append-version="true" type="module"></script>
}


<div id="backdrop" class="visible"></div>
<!-- Modal for adding specific shopping list item -->
<div class="modal" id="addModal">
    <div class="modalContent">
        <label for="itemName">Item name:</label>
        <input type="text" name="itemName" id="itemName" />
        <label for="itemAmount">Amount:</label>
        <input type="text" name="itemAmount" id="itemAmount" />
    </div>
    <div class="modalAction">
        <button class="btn btnNo">Cancel</button>
        <button class="btn btnYes">Add</button>
    </div>
</div>

<!-- Shopping List  -->
<div class="d-flex">
    <!--Item List-->
    <div class="listCheckBoxContainer" id="shoppingList">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                To buy 1  To buy 1  To buy 1  To buy 1  To buy 1  To buy 1  To buy 1  To buy 1  To buy 1  To buy 1  To buy 1  To buy 1  To buy 1 To buy 1  To buy 1  To buy 1  To buy 1  To buy 1  To buy 1  To buy 1  To buy 1  To buy 1  To buy 1  To buy 1  To buy 1  To buy 1
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
            <label class="form-check-label" for="defaultCheck2">
                To buy 2
            </label>
        </div>
    </div>
    <!--Item CRUD-->
    <div class="ml-4">
        <button type="button" class="btn btn-success" id="addShoppingItemBtn">+</button>
    </div>
</div>


<!-- Items in Stock  -->
<div class="d-flex mt-5">
    <table class="table table-bordered table-striped" id="stockTable">
        <thead class="thead-dark">
            <tr>
                <th colspan="2" scope="col">Spices</th>
                <th colspan="2" scope="col">Fruits and Veggies</th>
                <th colspan="2" scope="col">Proteins</th>
                <th colspan="2" scope="col">Other</th>
            </tr>
        </thead>
        <tr>
            <td>
                Salt
                <button type="button" class="stockTableRemoveFromShoppingListButton">-</button>
                <button type="button" class="stockTableAddToShoppingListButton">+</button>
            </td>
            <td>1</td>
            <td>
                Apple<button class="stockTableRemoveFromShoppingListButton">
                    -
                </button>
                <button class="stockTableAddToShoppingListButton">+</button>
            </td>
            <td>5</td>
            <td>
                Eggs<button class="stockTableRemoveFromShoppingListButton">
                    -
                </button>
                <button class="stockTableAddToShoppingListButton">+</button>
            </td>
            <td>10</td>
            <td>
                Icecream<button class="stockTableRemoveFromShoppingListButton">
                    -
                </button>
                <button class="stockTableAddToShoppingListButton">+</button>
            </td>
            <td>2</td>
        </tr>
        <tr>
            <td>
                Pepper<button class="stockTableRemoveFromShoppingListButton">
                    -
                </button>
                <button class="stockTableAddToShoppingListButton">+</button>
            </td>
            <td>2</td>
            <td>
                Banana<button class="stockTableRemoveFromShoppingListButton">
                    -
                </button>
                <button class="stockTableAddToShoppingListButton">+</button>
            </td>
            <td>5</td>
            <td>
                Fish<button class="stockTableRemoveFromShoppingListButton">
                    -
                </button>
                <button class="stockTableAddToShoppingListButton">+</button>
            </td>
            <td>200g</td>
        </tr>
    </table>
</div>