@model KeyValuePair<StockType, List<(string Name, string Amount)>>

<style>
    .stockTable {
        font-family: Arial, Helvetica, sans-serif;
    }
        .stockTable tr th {
            height: 40px;
            border: 1px solid #ddd;
            padding: 6px;
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
        }
        .stockTable tr td {
        }

    .decreaseStockButton {
        float: right;
        border: hidden;
        background: none;
        font-size: 18px;
        color: red;
    }

    .increaseStockButton {
        float: right;
        border: hidden;
        color: green;
        background: none;
        font-size: 18px;
        margin-right: 8px;
    }
</style>

<div class="flex-fill">
    <table class="table table-bordered table-striped stockTable">
        <!--Table header: Stock type-->
        <tr class="thead-dark">
            <th colspan="2" scope="col">
                @Model.Key
            </th>
        </tr>
        <!--Table content: Stock item for each type-->
        @foreach(var item in Model.Value)
        {
            <tr>
                <td>
                    @item.Name
                    <button class="decreaseStockButton">-</button>
                    <button class="increaseStockButton">+</button>
                </td>
                <td>
                    @item.Amount
                </td>
            </tr>
        }
    </table>
</div>