@model KeyValuePair<StockType, List<(string Name, string Amount)>>

<div class="flex-fill">
    <table class="table table-bordered table-striped stockTable">
        <!--Table header: Stock type-->
        <tr class="thead-dark">
            <th colspan="2" scope="col">
                @Model.Key
            </th>
        </tr>
        <!--Table content: Stock item for each type-->
        @foreach(var item in Model.Value)
        {
            <tr>
                <td>
                    @item.Name
                    <button class="decreaseStockButton">-</button>
                    <button class="increaseStockButton">+</button>
                </td>
                <td>
                    @item.Amount
                </td>
            </tr>
        }
    </table>
</div>